<!DOCTYPE html>
<html lang="en">

  <style>
   
  .bottom-three {
     margin-top: 2.5cm;
     margin-bottom: 2cm;
  }
 
</style>
    
<head>
  <meta charset="UTF-8">
  <title>CVD Analysis</title>
  <link rel="stylesheet" href="/static/style1.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>



</head>
<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="/#hero">
            <h1><span>C</span>V <span>D</span>isease <span>A</span>nalysis</h1>        
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="/#hero" data-after="Home">Home</a></li>
            <li><a href="/#services" data-after="Service">Insights</a></li>
            <li><a href="/#projects" data-after="Projects">Are You At Risk?</a></li>
            <li><a href="/#contact" data-after="Contact">Contacts</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->

  <!-- Hero Section  -->
  <section id="projects">
    <div class="projects container">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <h1 class="project section-title top-three">Predict <span>Heart Disease</span> </h1>
     
  
   
        <form action="{{ url_for('further') }}" method="POST" class="bottom-three">
            <fieldset>

                <legend>Input values:</legend>
                <br>Age (Years):
                <input name="age" type="number" required min="1" max="99">
                <br>
                <br> Gender:
        
                <select name="sex"> 
                    <option value="0" selected="selected">Select</option>
                    <option value="0" >Women</option>
                    <option  value="1">Men</option>
                    
                    </select>
        
                <!-- <input name="gender" type="number" required> -->
                <br>
                <br>Chest Pain:

                <select name="cp"> 
                  <option value="1" selected="selected">Select</option>
                  <option value="1" >Typical Angina</option>
                  <option  value="2">Atypical Angina</option>   
                  <option value="3" >Non-Anginal Pain</option>
                  <option  value="4">Asymtomatic</option>
                  
                  </select>
                <!-- <input name="cp" type="number" required> -->
                <br>
                <br> Resting Blood Pressure (mmHG):
                <input name="trestbps" type="number" required min="1" max="350">
                <br>
                <br> Serum Cholesterol (mg/dl):
                <input name="chol" type="number" required min="1" max="800"> 
                <br>
                <br> Fasting Blood Sugar:

                <select name="fbs"> 
                  <option value="0" selected="selected">Select</option>
                  <option value="0" >Normal</option>
                  <option  value="1">High</option>
                  
                  </select>
                <!-- <input name="fbs" type="number" required> -->
                <br>
                <br>Resting ECG Results:
        
                <select name="restecg"> 
                    <option value="0" selected="selected">Select </option>
                    <option value="0" >Normal</option>
                    <option  value="1">Abnormal</option>
                    <option  value="2">Hyper</option>
                    
                    </select>
                <!-- <input name="cholesterol" type="number" required min="1" max="3"> -->
                <br>
                <br> Maximum Heart Rate Achieved
        
                
                <input name="thalach" type="number" required min="1" max="200">
                <br>
                <br> Exercise Induced Angina
                <select name="exang"> 
                  <option value="0" selected="selected">Select</option>
                  <option value="0" >Normal</option>
                  <option  value="1">High</option>
                  
                  </select>
               
                <!-- <input name="exang" type="number" required> -->
                <br>
                <br> <a href="https://www.hindawi.com/journals/cmmm/2017/8272091/tab1/">Old peak</a>
               
                <input name="oldpeak" type="number" required min="0" max="10">
                <br>
                <br> <a href="https://www.hindawi.com/journals/cmmm/2017/8272091/tab1/">Slope</a>

                <select name="slope"> 
                  <option value="1" selected="selected">Select</option>
                  <option value="1" >Up</option>
                  <option  value="2">Flat</option>   
                  <option value="3" >Down</option>
                 
                  
                  </select>
               
                <!-- <input name="slope" type="number" required> -->
                <br>
                <br><a href="https://www.hindawi.com/journals/cmmm/2017/8272091/tab1/">Fluoroscopy</a>

                <select name="ca"> 
                  <option value="0" selected="selected">Select</option>
                  <option value="0" >No Vessel Coloured</option>
                  <option  value="1">1 Vessel Coloured</option>   
                  <option value="2" >2 Vessel Coloured</option>
                  <option  value="3">3 Vessel Coloured</option>
                  
                  </select>
               
                <!-- <input name="ca" type="number" required> -->
                <br>
                <br>Thal
               
                <select name="thal"> 
                  <option value="3" selected="selected">Select</option>
                  <option value="3" >Normal</option>
                  <option  value="6">Fixed Defect</option>   
                  <option value="7" >Reversible Defect</option>
                 
                  
                  </select>
                <!-- <input name="thal" type="number" required> -->
                <br>
                <br>
                <input type="submit">
            </fieldset>
        </form>
        <br>
        <!-- <h1>{{result}}</h1> -->
        
        
            
        </div>
    </div>
  </section>
  <!-- End Projects Section  -->
  

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>H</span>eart <span>D</span>isease <span>M</span>odel</h1>
      </div>
      <h2>It's all about Heart</h2>
      
      <p>Copyright © 2021 Monash BootCamp. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
  
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="{{url_for('static', filename='app.js')}}"></script>





    
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>








